# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Build output
dist/
tsconfig.tsbuildinfo

# Файлы TODO
todo.md
